{% extends 'base_template.html' %}
{% block title %} Homepage {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block page_content %}
     <div class="row">
        <div class="col-8">
            <h1 class="main-heading">Welcome to Basic Flask Web App</h1>
            <p class="main-description">This application is about practicing the topics i learned from the flask web development book.</p>
            <p class="other">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam consectetur cum dolor dolorem doloremque ea et ex exercitationem explicabo fuga, inventore iste odit quos sequi, sint suscipit ut, veritatis.</p>
            <p class="other">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam consectetur cum dolor dolorem doloremque ea et ex exercitationem explicabo fuga, inventore iste odit quos sequi, sint suscipit ut, veritatis.</p>
            <p class="other">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam consectetur cum dolor dolorem doloremque ea et ex exercitationem explicabo fuga, inventore iste odit quos sequi, sint suscipit ut, veritatis.</p>
        </div>
        <div class="col-4"></div>
     </div>
{% endblock %}